{{ define "title" -}}
{{ .Site.Params.title }}
<hr/>
{{- end }}
{{ define "main" }}
<p>{{ .Content }}</p>
<div class="posts-list">
	<h2>Recent Posts</h2>
	<table class="time-list">
		<tbody>
			{{ with .Site.GetPage "/posts" }}
			{{ range first 5 (sort .Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
			<tr>
				<td>{{- partial "date" .Date -}}</td>
				<td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
			</tr>
			{{ end }}
			{{ end }}
		</tbody>
	</table>
	{{- partial "footer.html" . -}}
{{ end }}
